---
title: Welcome to Walk In Faith
---
<!-- About -->
<section id='about' class='about'>
  <div class='container'>
    <div class='row'>
      <div class='col text-center'>
        <h2>Walk in Faith will help guide you in your daily life to learn how to receive what God has for you</h2>
        <p class='lead'>
          <ul class='list-unstyled'>
            <li>Do you really believe the Bible? Do you know what God wants?</li>
            <li>Do you know your 'Walk' matters? Do you know <b>what</b> God wants you to be?</li>
            <li>Do you know <b>how</b> God wants you to be? Do you experience what God has for you?</li>
            <li>Do you know how to receive His blessings?</li>
          </ul>
        </p>
      </div>
    </div>
    <!-- /.row -->
    <div class='row'>
      <div class='col jumbotron text-sm-center text-md-left'>
        <h4>Thank you for your interest in this ministry. Countless hours are spent with 
          hurting individuals at no charge. Your continued financial support of this 
          ministry through future <a href='https://creationseminar.net/onlineorders.htm'>donations</a> is greatly appreciated.
        </h4>
        <ul class='list-unstyled text-center'>
          <li><i class='fas fa-phone'></i> <i class='fas fa-comment'></i> Call or text us at (603) 616-8907</li>
          <li>Email us at <a href='mailto:wif@creationseminar.net'><i class='far fa-envelope'></i> wif@creationseminar.net</a></li>
          <li><a href='http://www.creationseminar.net/wif_flyer.htm'><i class='fa fa-download'></i> Click here to download a customizable flyer</a></li>
          <!-- placeholder links for more stuff
          <li><a href='https://www.facebook.com/placeholder/'><i class='fab fa-facebook'></i> placeholder</a></li>
          <li><a href='https://www.instagram.com/placeholder/'><i class='fab fa-instagram'></i> @placeholder/a></li>
          <li><a href='https://www.youtube.com/user/placehold/videos'><i class='fab fa-youtube'></i> placeholder</a></li>
          -->
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- Appeal to sign up -->
<section id="registration">
<div class="container">
<div class="row text-center">
    <div class="col">
      <h4>Learn about or register for an upcoming <a href="http://creationseminar.net/aed_workshop.htm"> Allergies and Eating Disorders Workshop</a></h4>
      <h4>You can also explore our <a href="http://creationseminar.net/"> Creation Seminar Ministry</a></h4>
    </div>
  </div>
</div>
</section>

<!-- Products Section -->
<section id="products">
<div class="container">
  <div class="row text-center">
    <div class="col">
    <hr>
      <marquee><h2>Want to order Walk in Faith Resources?<h2></marquee>
      <h3><a href="https://creationseminar.net/onlineorders.htm">Order Online Here</a></h3>
      <div class="row">
        <div class="col">
          <div class="service-item">

              <%= image_tag "WIF_dvd.jpg" %>

              <h4>
                <strong>Walk in Faith DVD Series</strong>
              </h4>
              <p>
                The complete Walk In Faith seminar video. Includes four 2-hour dvds.
                <h5><strong>$80</strong></h5>
              </p>
          </div>
        </div>
        <div class="col">
          <div class="service-item">

            <%= image_tag "WIF_cd.jpg" %>

            <h4>
              <strong>Walk in Faith CD Series</strong>
            </h4>
            <p>
              The complete Walk In Faith seminar as audio. Includes four 1-hour cds.
              <h5><strong>$40</strong></h5>
            </p>
          </div>
        </div>
        <div class="col">
          <div class="service-item">

            <%= image_tag "WIF_dvd.jpg" %>

            <h4>
              <strong>Walk in Faith Workshop DVD Series</strong>
            </h4>
            <p>
              The Walk In Faith Workshop video. Includes three 2-hour dvds plus the 1-hour Verses CD.
              <h5><strong>$35</strong></h5>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="service-item">

            <%= image_tag "study_guide.jpg" %>

            <h4>
              <strong>Study Guide</strong>
            </h4>
            <p>
              A 23 page daily devotional to reinforce Scriptures taught in the Walk in Faith series.
              <h5><strong>$5</strong></h5>
            </p>
          </div>
        </div>
        <div class="col">
          <div class="service-item">

            <%= image_tag "DSC_7635_srg_web.jpg" %>

            <h4>
              <strong>Scripture Reference Guide</strong>
            </h4>
            <p>
              A 23 page booklet with all the Scriptures used throughout the Walk in Faith series.
              <h5><strong>$5</strong></h5>
            </p>
          </div>
        </div>
        <div class="col">
          <div class="service-item">

            <%= image_tag "WIF_Vase.jpg" %>

            <h4>
              <strong>Workshop Workbook</strong>
            </h4>
            <p>
              An interactive series of lessons produced as a supplement to the Workshop series.
              <h5><strong>$10</strong></h5>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="service-item">

            <%= image_tag "WIF_shirt.jpg" %>

            <h4>
              <strong>Long Sleeve T-Shirt</strong>
            </h4>
            <p>
              A long sleeve t-shirt with key Walk In Faith bible verses on the front and back.
              <h5><strong>$20</strong></h5>
            </p>
          </div>
        </div>
      </div>
      <h3><a href="https://creationseminar.net/onlineorders.htm">Order Online Here</a></h3>
      <hr class="small">
      <!-- Products testimonies -->
      <div class="row">
        <div class="col">
          <p>"The Study Guide is part of my daily walk with God."</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>"I want to buy 20 more Study Guides to give out to friends."</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>"I promised you I would read it every day. It took me a while to keep that promise, but I am so glad that I did!"</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>"I was frantically writing down all the Scriptures as you taught the Walk in Faith lessons. I was relieved you had already put it together in the Scripture Reference Guide. Thanks."</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>"Your workbook helped reinforce the vital information you taught us during the Workshop. Glad you put the answers in the back. LOL"</p>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
</section>

<!-- Upcoming Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id='services' class='services'>
  <div class='container'>
    <div class='row text-center'>
      <div class='col'>
        <h2>Our Upcoming Services and Workshops</h2>
        <hr class='small'>
        <!--Service item-->
        <div class='row'>
          <div class='col'>
            <div class='service-item'>
              <%= image_tag 'The Dalles WORKSHOP.jpg', width: '320', height: '214', class: 'img-fluid' %>
            </div>
          </div>
        </div>
        <!--/Service item-->
        <!--Service item-->
        <div class='row'>
          <div class='col'>
            <div class='service-item'>
              <%= image_tag 'Tucson AED.jpg', width: '320', height: '214', class: 'img-fluid' %>
            </div>
          </div>
        </div>
        <!--/Service item-->
        <!--Service item-->
        <div class='row'>
          <div class='col'>
            <div class='service-item'>
              <%= image_tag 'Slidell WIF.jpg', width: '320', height: '214', class: 'img-fluid' %>
              <!-- <h4>
                <strong>Somewhere, TX</strong>
              </h4>
              <p>
                Join us at 123 A Street, Somewhere TX for a Walk In Faith Workshop
              </p> -->
            </div>
          </div>
        </div>
        <!--/Service item-->
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- About -->
<section id='testimonies' class='about'>
  <div class='container'>
    <div class='row'>
      <div class='col text-center'>
        <h2>Testimonies from Individuals and Pastors</h2>
        <hr/>
      </div>
    </div>
    <!--Testimony Block -->
    <div class='row'>
      <div class='col'>
        <%= image_tag 'walters_glorious.jpg', width: '160', height: '107', class: 'img-fluid float-left mr-3' %>
        <p>Comments from the publisher of Into His Marvelous Light:
          'Bro. Steve Grohman's Walk in Faith seminars are extraordinary in a very revelatory way. 
          Bro. Grohman, in plain and simple fashion, unlocks the Word of God and presents God's will 
          for us to be healed, delivered, and set free from the bondage of our long-term baggage. 
          In his refreshingly unique way, he brings the Word alive and brings clarity and understanding 
          to Scripture that promises healing and deliverance. The result is a new perspective and a renewed 
          hope of a life free from endless pain and heartache. Wow!  If you haven't heard this 
          incredible message of hope, you must. Forget your preconceived ideas and hear this as quickly
          as you can. Do not miss out on this passionate presentation of The Word. If the future of the 
          Church in this hour is to help those who are bound and tormented, we need to understand this
          deliverance message immediately. Time is of the essence. The world waits on us.' 
          Galen & Mikki Walters, Conroe, Texas</p>
      </div>
    </div>
    <!--End Testimony Block-->
    
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"I catch myself smiling all the time. I have never experienced the peace & joy like I have now. 
        I now really understand what the Bible says about it passing understanding & that nothing & no one 
        can take it away! To God be ALL the glory & thanks!!!! Thank you for letting God use you in such a 
        wonderful way!"</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"Dear Bro. and Sis. Grohman, I am thankful to report a miracle that took place in my life on Sunday 
        night during your presentation. I have been severely "hard-of-hearing" since I was five years old. I was 
        so bad I wore two hearing aids from Kindergarten until I graduated high school. After high school, I 
        relied on "Reading Lips" to try to understand what people had to say. I remember my Apostolic Grandmother, 
        Ruby Alice Cain, taking me to the altar to get my hearing prayed for, as a child. Fast forward 52 years 
        until last Sunday night. I did NOT know how much God had touched my hearing until Monday morning.  Sis. 
        Lillian gave me a praise and worship CD a few weeks earlier and, I was frustrated because I could NOT 
        understand the words on the CD good enough to even guess what the NAME of the songs might be. On Monday 
        morning, I was driving to a place where I volunteer and, while I am driving, I am singing along with the 
        CD songs, singing EVERY SINGLE WORD of each verse and the chorus! I paused and thought, "This is amazing!" 
        I started praising God and worshiping Jesus for his miraculous power of healing. People all week have 
        commented that I was hearing better and did not constantly ask them to repeat their words. To God be the 
        Glory! God's WORD IS FAITHFUL, as Rev. Grohman has been teaching us.  I am thankful that, after 52 years 
        of embarrassment, frustration, and hearing loss, I can now hear sounds that heretofore escaped me. Please 
        feel free to use my testimony as you see fit. I am thankful for your ministry and please know our one-on-one 
        meeting on Monday has also opened the door to other miracles and blessings for me and my family. Words 
        cannot express how important and powerful your presentation has been in teaching us how to Walk in Faith 
        and receive God's promises, day by day. Thank you, Bro. and Sis. Grohman, for all you do for Christ! 
        Thank you, Pastor Whitaker, for following God's lead in inviting the Grohman's back to Hope Tabernacle 
        to speak to us."</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"Bro. & Sis. Grohman, My parents are still here so I made Eggs Benedict for breakfast this morning. 
        This is one of my favorites but have not eaten in over a year. I had orange juice. I have not had orange 
        juice or lemonade in over 2 years because the acid in citrus burnt my throat so bad. My throat is fine, 
        and my stomach is fine. I was saying, Thank You Jesus, with every sip of orange juice. Nice to be able 
        to enjoy little things in life. I was thinking about making a pitcher of lemonade to go with dinner 
        tonight when I get home from work. I think my girls will be happy to have it in the house again."</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"I am a single mom of 2 little boys living for Jesus in beautiful New Hampshire!  I received the Holy 
        Ghost 5 years ago. . . I had struggled with feelings of self-loathing, anger towards my sweet children, 
        several failed relationships and a gulf between the Lord and I that seemed uncross able. The Grohman's 
        coming to our church was undoubtedly a part of God's divine  plan for me. I had come a long way and that 
        gulf had certainly shrunk in the months leading up to their visit, but there was still something between 
        the Lord and I that I couldn't get past on my own as a result of stuff I just didn't know. The wisdom 
        that the Grohman's brought was life changing. Since my deliverance, I have been able to really take control 
        of my spiritual well-being. I was saved from unloving spirits, bitterness and forgiveness towards myself 
        and others. My eyes were opened to the reality of what those things were doing to my relationship with God 
        and my children.  I have actually been able to apply the things I learned in a few more areas of my walk 
        with God that Steve and I didn't even talk about. I feel lighter and I am learning to enjoy the journey 
        rather than reach for the destination. A week after the Grohman's left I had been feeling a pull from the 
        Lord to read my bible. Every night before bed, I felt it, but brushed it off feeling exhausted. That 
        following Sunday, after a conversation with a sister in the church about a man that I had dated (and created 
        some strong relationship ties with this person), I immediately felt a spirit of fear and anger come over 
        me concerning the man I had been with. I stood in the pew attempting to worship the Lord but I couldn't 
        shake it.  I sat down to journal (for whatever reason, I don't typically do that) and I just started writing 
        my praises to the Lord.  I honestly didn't make the connection between my disobedience from the prior week 
        to the way I was feeling in that moment.  As I wrote, I started to confess to the Lord that I had been 
        disobedient and that I needed His help to get back on track with my personal devotionals.  As I wrote, I 
        felt the spirit lift from me! It was amazing.  It  hasn't come back.  I'm thankful to God for this victory.  
        If you have ever dealt with this, you know what a victory it is! Thank you for your life changing ministry!!"</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"Thank you so much for ministering to our Church and our family this past weekend.  I believe (KNOW) God is doing a GREAT work! "</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"Brother Grohman, I'd like to inform you that I've been running around in the cold all day and I have not 
        wheezed once. Also, almost every spot of the eczema has cleared away, I have not gotten sick after eating at all, 
        and my back and side feel amazing! Praise God!"</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"This is a monumental day in my life."</p>
      </div>
    </div>
    <!--End Testimony Block-->   
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"I know my body: I am healed. I feel like a 1,000 pound weight just left."</p>
      </div>
    </div>
    <!--End Testimony Block--> 
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"I read your Study Guide daily and I have highlighted every one of the verses in my Bible."</p>
      </div>
    </div>
    <!--End Testimony Block--> 
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"My lymph nodes and glands haven't been this equal in size since the issue started four years ago."</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"Just wanted to say I have been splitting wood lately and I played the drums the other night, normally the 
        carpal tunnel would've been completely numbing and hurting at night. It's hardly bothered me. Just wanted 
        y'all to know that the Lord has definitely healed me!"</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"Thank you for praying for me and opening my understanding on many issues. The Lord has and is healing me 
        and I have been delivered of issues that the adversary had me believing. I am so thankful for answered prayer."</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"My wife is floating around on cloud nine!"</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"My girls are enjoying eating whatever they want and neither has had any negative side affects." 
        (One formerly gluten intolerant and the other allergic to dairy and oranges.)</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"We got the house!"</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>" . . . That's not even the best part, I had neck surgery twenty-four years ago. I have rods, bolts, screws, 
        and pins holding my neck together. I have been in constant pain 24/7 for all these years. All of that is gone!"</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"Blood pressure is good and still in normal range. NO headaches!"</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <p>"There was a church dinner Sunday and I ate whatever I wanted. It has been cool and rainy and I have had little to no pain. 
        A headache tried to come Friday and Saturday. But instead of saying, 'Oh my head hurts.' I tried to remember to always 
        thank God for a healing."</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'><div class='col'><hr/></div></div>
    <div class='row'>
      <div class='col'>
        <%= image_tag 'West_Virginia.jpg', class: 'img-fluid' %>
      </div>
    </div>
    <!--End Testimony Block-->
    <div class='row'><div class='col'><hr/></div></div>
     <div class='row'>
      <div class='col jumbotron text-sm-center text-md-left'>
        <h4>Thank you for your interest in this ministry. Countless hours are spent with 
          hurting individuals at no charge. Your continued financial support of this 
          ministry through future <a href='https://creationseminar.net/onlineorders.htm'>donations</a> is greatly appreciated.
        </h4>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
